## Print Statements

In [1]:
print("Welcome to python class")

Welcome to python class

In [1]:
a = 10
b = 200
a = 30
b = 600
print(a, b)

30 600

In [2]:
a = 10
print(a)
b = 200
print(b)
a = 30
print(a)
b = 600
print(b)

10
200
30
600

In [3]:
a=20
b=30
c=40
print(a,b,c)

20 30 40

In [4]:
print(a,end=" ")
print(b)
print(c)

20 30
40

In [5]:
#print as 20:30:40
print(a,b,c,sep=":")

20:30:40

In [6]:
print(a,b,c,sep=",",end="#")

20,30,40#

In [9]:
a=10
b=10.25
c='Yesaswini'

In [10]:
print("the value of a = %d"%(a))

the value of a = 10

In [11]:
print("The value of %f"%(b))

The value of 10.250000

In [12]:
#raw data
print("The value of c = %r"%(c))

The value of c = 'Yesaswini'

In [13]:
#sum of 2 numbers

In [15]:
print("%d + %d = %d"%(a, b, a+b))

10 + 10 = 20

In [16]:
# %n1.n2f
#n1->mini no.of characters
#n0.of values after point

In [17]:
a=3.14567

In [18]:
print("%f"%(a))

3.145670

In [19]:
print("%0.0f"%(a))

3

In [20]:
print("%0.1f"%(a))

3.1

In [21]:
print("%1.3f"%(a))

3.146

In [22]:
print("%6.3f"%(a))

 3.146

In [23]:
a=10
b=20
c=30

In [24]:
print("a={},b={},c={}".format(a,b,c))

a=10,b=20,c=30

In [25]:
print("{}+{}={}".format(a,b,a+b))

10+20=30

In [26]:
print("a={a},b={b},c={c}".format(a=c,b=b,c=c))

a=30,b=20,c=30

In [27]:
print("{2} {0} {1}".format("she is",10,"years old"))

years old she is 10

## String

In [28]:
object = 'Book'
print("This is a ",object)

This is a  Book

In [29]:
a="Yesaswini"
b="Sunny"
print(a,)
print(a, b, sep="\n")

Yesaswini
Yesaswini
Sunny

In [30]:
a="Yesaswini"
b="Devi"
c=a+b
print(c)

YesaswiniDevi

In [31]:
print(a+" "+b)

Yesaswini Devi

In [32]:
print(a*5)

YesaswiniYesaswiniYesaswiniYesaswiniYesaswini

In [33]:
print(3+a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
print(str(3)+a)

3Yesaswini

In [36]:
s="venkat\
   siva\
   ravi\
"

In [37]:
s

'venkat   siva   ravi'

In [38]:
print('\n')

In [40]:
print("YEshh""\n""Deepu")

YEshh
Deepu

In [41]:
s = "Ramalakshmi"
print ('%s is  topper in the class' %(s))

Ramalakshmi is  topper in the class

In [42]:
print ('Yeshh is a good {p}'.format(p='girl'))

Yeshh is a good girl

In [43]:
#String methods
s = 'Yeshu1110'
print(s)
print(s.capitalize())
print(s.lower())
print(s.upper())
print(s.islower())
print(s.isupper())
print(s.title())
print(s.isdigit())
print(s.isalnum())
print(s.isalpha())
print('s' in s)
print(s.count('a'))
print(s.endswith('a'))
print(s.startswith('s'))
print(s.index('a'))
print(s.find('a'))
print(s.center(12,'$'))
print(s.isspace())

Yeshu1110
Yeshu1110
yeshu1110
YESHU1110
False
False
Yeshu1110
False
True
False
True
0
False
False

ValueError: substring not found

In [45]:
string = 'Yesaswini Devi Pendem'
print(string.split())

['Yesaswini', 'Devi', 'Pendem']

In [47]:
string = 'Yes#as#wini D#ev#i'
print(string.split('#'))

['Yes', 'as', 'wini D', 'ev', 'i']

In [48]:
a="    sivakarthik   "
print("My name is" +a+"and my age is 10")

My name is    sivakarthik   and my age is 10

In [49]:
print(a.strip())

sivakarthik

In [50]:
print("My name is"+a.lstrip())

My name issivakarthik

In [51]:
print(a.rstrip()+"is a good human")

    sivakarthikis a good human

## DataTypes

In [52]:
a=10
e=10.23
b=True
c="Yeshhh"
d=6+10j

In [53]:
print(type(a),type(e),type(b),type(c),type(d),sep="\n")

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>

In [54]:
r=a+e

In [55]:
print(r,type(r),sep="\n")  # int+float -->float

20.23
<class 'float'>

In [56]:
r1=a+b

In [57]:
print(r1,type(r1),sep="\n") #int + bool -->int

11
<class 'int'>

In [58]:
print(123)

123

In [59]:
a=0b101 #binary
print(type(a),a,sep="\n")

<class 'int'>
5

In [60]:
print(0o63)

51

In [61]:
print(0xAF9)

2809

In [62]:
print(bin(5))

0b101

In [63]:
print(hex(2809))

0xaf9

In [64]:
print(oct(51))

0o63